.env
.vscode/
.DS_Store

# Generated log data
log_generator/data/*.ndjson
log_generator/data/bulk_*.ndjson
log_generator/data/full_*.ndjson

# Elasticsearch artifacts
log_generator/data/*.gz


# Python junk
__pycache__/
*.pyc

